/* main form */
.body_dark{
    background-color: rgb(10, 17, 41);
    color: rgb(0, 14, 141);
}
.nav_dark{
    background-color: rgb(76, 0, 92);
    color: rgb(253, 193, 255);
}

/* article */
.article_dark{
    text-shadow:#970000 -17px -8px 6px;
    background-image: url(../images/article-dark.jpg);
}

/* table */
.table_dark {
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    width: 1500px; /* Ширина таблицы */
    border: 4px solid rgb(7, 0, 110); /* Рамка вокруг таблицы */
}
.table_dark th, td {
border: 1px solid rgb(0, 19, 82); /* Параметры рамки */
text-align: center; /* Выравнивание по центру */
padding: 4px; /* Поля вокруг текста */
}
.table_dark tr{
background: rgb(50, 0, 131); /* Цвет фона ячейки */
height: 40px; /* Высота ячеек */
vertical-align: middle; /* Выравнивание по нижнему краю */
padding: 2px; /* Убираем поля вокруг текста */
}
.table_dark td {
background: rgb(116, 0, 161); /* Цвет фона ячейки */
height: 40px; /* Высота ячеек */
vertical-align: middle; /* Выравнивание по нижнему краю */
padding: 2px; /* Убираем поля вокруг текста */
}

/* footer */
.footer_dark{
    border: 2px solid rgb(0, 183, 255); /* Параметры рамки */
    background-color: rgb(46, 0, 83);
    color:rgb(0, 14, 141);
}

/* blocks */
.background-color-black
{
    background-color: black;
    color: white;
}
.background-color-grey{
    background-color: rgb(97, 0, 136);
}

/* links */
.links_dark
{
    background: rgb(94, 0, 97);
    border: 4px solid rgb(0, 6, 92);
    width: 300px;
    height: 140px;
    
}