.images {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

.image {
    width: 100%;
    height: 100%;
    top: 0px;
    position: absolute;
    left: -100%;
    float: left;
    transition: 1s;
}

.image.active {
    left: 0%;
}

.image.active ~ .image {
    left: 100%;
}

.flex-container{
    display: -webkit-flex;
        -webkit-justify-content: flex-start;
    display: flex;
    justify-content: center;    
}

.all-foto{
    margin: 0 auto;
    height: 100%;

    max-width: 100%;
    max-height: 100%;
}

.black {
    background-image: url(../images-gallery/1.jpg);
    background-size:cover
}

.red {
    background-image: url(../images-gallery/2.jpg);
    background-size:cover
}

.blue {
    background-image: url(../images-gallery/3.jpg);
    background-size:cover
}

.yellow {
    background-image: url(../images-gallery/4.jpg);
    background-size:cover
}


.buttons_main_min{
    height: 450px;
    width: 60px;
    font-size: 50px;
    background: rgb(0, 174, 255);
}
.img_min{
    width: 800px;
    height: 450px;
}
.buttons_main_average{
    height: 720px;
    width: 60px;
    font-size: 50px;
    background: rgb(0, 174, 255);
}
.img_average{
    width: 1280px;
    height: 720px;
}
.buttons_main_max{
    height: 792px;
    width: 60px;
    font-size: 50px;
    background: rgb(0, 174, 255);
}
.img_max{
    width: 1408px;
    height: 792px;
}


.start{
    height: 50px;
    width: 160px;
    font-size: 20px;
    background: rgb(6, 182, 0);
}
.stop{
    height: 50px;
    width: 160px;
    font-size: 20px;
    background: rgb(182, 0, 24);
}