<div class="bg-white p-4 m-3 rounded-3 shadow" id = "map-loader">
    <div class="row justify-content-between pb-2">
        <p class="col">Basic map</p>
        <button class="col-sm-auto btn btn-outline-secondary btn-sm" onclick="loader()"><i class="bi bi-map px-1"></i>Load map</button>
    </div>
</div>

<style>
    .loader-container {
        width: 100%;
        height: 400px;
        background: #fff url("https://media3.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif?cid=ecf05e47ktqj2z67tc69n739u230iyevh8981ulxtoqqib0z&rid=giphy.gif&ct=g") center no-repeat;
        z-index: 1;
    }
</style>